[submodule "themes/researcher"]
	path = themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
[submodule "themes/researcher2"]
	path = themes/researcher2
	url = https://github.com/ojroques/hugo-researcher.git
[submodule "themes/researcher_mine"]
	path = themes/researcher_mine
	url = https://github.com/afernandezdemarcos/hugo-researcher.git
[submodule "themes/researcher_mine2"]
	path = themes/researcher_mine2
	url = https://github.com/afernandezdemarcos/hugo-researcher.git
