<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="author" content="{{author}}">
  {{favicon}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="/style.css">
  {{math}}
</head>
<body class="{{body_class}}">
  <header class="container" id="header">
    <nav class="navbar">
      <a class="navbar-brand" href="/">{{site_title}}</a>
      <div class="navbar-nav">
        {{menu}}
      </div>
    </nav>
  </header>
  <hr>
  <main id="content">
    <div class="container">
      {{content}}
    </div>
  </main>
  <footer id="footer">
    <hr>
    <div class="container social">
      {{social}}
    </div>
    <div class="container text-center">
      {{footer}}
    </div>
  </footer>
</body>
</html>
